# answers for ------ > 1_OlympicQuestions

In [1]:
import pandas as pd

In [2]:
animals=['Tiger','Bear','Moose']    
s=pd.Series(animals)                    # to create series

In [3]:
s

0    Tiger
1     Bear
2    Moose
dtype: object

In [4]:
s.index                                     # to know the indes in series

RangeIndex(start=0, stop=3, step=1)

In [5]:
print(s.name)                                 # name of the Series

None

In [6]:
s.name="Animals"                   # update the name of the series

In [7]:
s.name

'Animals'

In [8]:
s                                    # here the name of the series is updated

0    Tiger
1     Bear
2    Moose
Name: Animals, dtype: object

In [9]:
s.values                           # give the values

array(['Tiger', 'Bear', 'Moose'], dtype=object)

In [10]:
numbers=[1,2,3,4,5]
number=pd.Series(numbers)   
number                             # here the dtype is INTEGER for strings the dtype id OBJECT

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
print(number.name)

None

In [12]:

ani=['aaa','ssss',None]
ani=pd.Series(ani)
ani

0     aaa
1    ssss
2    None
dtype: object

In [13]:
ani=[1,3,None]
ani=pd.Series(ani)      #  NaN----> Not a Number
ani

0    1.0
1    3.0
2    NaN
dtype: float64

In [14]:
a=2
b=2
a==b

True

In [15]:
#in numpy
import numpy as np
nan==None

NameError: name 'nan' is not defined

In [16]:
np.nan==np.None

SyntaxError: invalid syntax (<ipython-input-16-4fa6a2a73cf9>, line 1)

In [17]:
sports={'aechary':'butam','glof':'scotland','somu':'japan','Taekwondo':'south Korea'}
s=pd.Series(sports)
s

aechary            butam
glof            scotland
somu               japan
Taekwondo    south Korea
dtype: object

In [18]:
s.index

Index(['aechary', 'glof', 'somu', 'Taekwondo'], dtype='object')

In [20]:
print(s.name)

None

In [21]:
s.values

array(['butam', 'scotland', 'japan', 'south Korea'], dtype=object)

# Queries in Series

In [23]:
s.iloc[2]                  #give index positions

'japan'

In [25]:
s.loc['somu']

'japan'

In [26]:
sports={11:'a',22:'ee',33:'ff',55:'gg',77:'gh'}
s=pd.Series(sports)

In [27]:
s

11     a
22    ee
33    ff
55    gg
77    gh
dtype: object

In [28]:
s.iloc[3]

'gg'

In [29]:
s.iloc[11]

IndexError: single positional indexer is out-of-bounds

In [31]:
s[0]

KeyError: 0

In [32]:
s[11]

'a'

In [33]:
s=pd.Series([111.11,324.4,34.00,90.0])
s

0    111.11
1    324.40
2     34.00
3     90.00
dtype: float64

In [38]:
for i in s:
    print(i)

111.11
324.4
34.0
90.0

In [37]:
t=0
for i in s:
    t=t+i
t

559.51

In [39]:
import numpy as np            # takes less time
t=np.sum(s)
t

559.51

In [1]:
import pandas as pd
import numpy as np

In [8]:
np.random.randint(0,1000,10)        # gives random values--> np.random.randint(from,to,how many) 
print(np.random.randint(0,1000,10),' \n size: ',len(np.random.randint(0,1000,10)))

[666 921 401 678 390 430 677 606 384 439]
 size:  10

In [9]:
s=pd.Series(np.random.randint(0,1000,1000)) 
len(s)

1000

In [10]:
s.head()

0    923
1    746
2    884
3    400
4    259
dtype: int32

In [11]:
s.tail()

995    601
996    340
997     99
998    878
999    757
dtype: int32

In [12]:
%%timeit -n 5
summary=0
for item in s:
    summary+=item

333 µs ± 11.1 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [13]:
%%timeit -n 5
summary=np.sum(s)

203 µs ± 46.4 µs per loop (mean ± std. dev. of 7 runs, 5 loops each)

In [14]:
s+=2
s.head()

0    925
1    748
2    886
3    402
4    261
dtype: int32

In [ ]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,1000)) 
for i,j in s.iteritems():
    s.loc[i]=j+2

In [ ]:
%%timeit -n 1
s=pd.Series(np.random.randint(0,1000,100000)) 
s+=2